body {
  position: relative;
  font-family: sans-serif;
  font-size: 12px;
}

body,
h4,
p,
a {
  margin: 0;
}

a {
  cursor: pointer;
}

h4 {
  font-size: 14px;
  margin-bottom: 6px;
}

fieldset {
  border: 1px solid #aaa;
  margin-bottom: 8px;
}

button {
  transition: 0.15s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

form input[type="file"] {
  width: 100%;
}

.popup_modal {
  height: 365px;
  width: 650px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  opacity: 1;
  transition: all 300ms ease-in-out;
  z-index: 1011;
}

.closed {
  display: none !important;
  opacity: 0;
}

.open {
  display: block;
}

.popup_modal .container .close {
  position: absolute;
  right: 12px;
  font-weight: 600;
}

.popup_modal .table_container {
  overflow-y: scroll;
  width: 610px;
  height: 350px;
}

.popup_modal table th,
td {
  padding: 0 4px 4px 0;
  text-align: left;
}

.popup_modal table>tr:nth-child(2n) {
  background: #efefef;
}

#Title {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  text-align: center;
}

#Title h3 {
  font-size: 16px;
}

#Title .routing_info {
  display: none;
  width: 200px;
  margin: auto;
  background: #fff;
  padding: 12px 16px 4px 16px;
  border: 1px solid #aaa;
}

#Title .routing_info .comparison {
  display: flex;
  justify-content: space-around;
}

#Title .routing_info div+div {
  margin-top: 4px;
}

#Title .routing_info .order_name {
  font-weight: bold;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

#Title .routing_info .orig_len_field,
#Title .routing_info .opt_len_field {
  font-size: 12px;
}

#Title .routing_info .orig_len_field .orig_len,
#Title .routing_info .opt_len_field .opt_len {
  font-weight: bold;
  font-size: 18px;
}

#Title .routing_info .lengths {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#Title .routing_info .orig_len_field {
  color: #c70a0a;
}

#Title .routing_info .opt_len_field {
  color: #0a3ac7;
}

#SimulationContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}



#Actionbar {
  position: absolute;
  top: -999px;
  left: -999px;
  display: none;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#Actionbar p {
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

#Actionbar p:hover {
  color: #1e3fe6;
}

#Actionbar .options_list {
  border: 1px solid #666;
  padding: 4px 8px 8px 8px;
}

#Actionbar .options_params {
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid #666;
  padding: 8px;
  border-left: none;
  width: 140px;
}

#Actionbar .options_params input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 8px;
}

#Actionbar button {
  width: 100%;
  border: none;
  padding: 6px 0;
}


/* Panel related*/

#Panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
}

#MainOps {
  position: relative;
  background: white;
  margin: 12px 12px 0 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

#MainOps .filters_container h4 {
  display: flex;
  justify-content: space-between;
}

#MainOps .filters_container h4 span.reset {
  font-weight: 400;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

#MainOps .hider {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

#MainOps>div {
  padding: 8px 12px;
}

#MainOps>div:hover {
  box-shadow: 0px 2px 8px #bbb;
}

#MainOps>div:nth-child(n+3) {
  border-top: 1px solid #ccc;
}

#MainOps button {
  width: 100%;
  margin: 4px 0;
  border: none;
  padding: 8px 0;
  cursor: pointer;
}

#MainOps button:hover {
  background: #ccc;
}

#MainOps fieldset.filter_types {
  border: none;
  margin-left: 0;
  padding-left: 0;
}

#MainOps input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 8px;
}


#DepotInfo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  padding: 12px 0 0 12px;
}

#DepotInfo p {
  margin-bottom: 6px;
  font-size: 14px;
}

.align-horizontal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#SceneSimulation {
  display: none;
  width: 100vw;
  height: 100vh;
}

#DepotInfo .fill_rate {
  width: 160px;
  background: gray;

  height: 24px;
}

#DepotInfo .fill_rate span {
  display: block;
  width: 0%;
  height: 100%;
  line-height: 24px;
  text-indent: 8px;
  background: greenyellow;
}

#SceneDepotSelection {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#SceneDepotSelection ul li {
  cursor: pointer;
}

#Loading {
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

#Loading p {
  background: white;
  width: 240px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  font-size: 14px;
}

#ResetZoom {
  position: fixed;
  right: 260px;
  top: 12px;
  z-index: 4;
  padding: 8px 4px;
  width: 112px;
  text-align: center;
  background: rgba(255,255,255,0.2);
  border: 1px solid #ccc;
  cursor: pointer;
}

#CancelRouting {
  position: fixed;
  right: 260px;
  top: 51px;
  z-index: 4;
  padding: 8px 4px;
  width: 112px;
  text-align: center;
  background: rgba(255,255,255,0.2);
  border: 1px solid #ccc;
  cursor: pointer;
}

#CancelRouting:hover {
  background: rgba(255,255,255,1);
}

#CancelRouting p {
  pointer-events: none;
}

#ResetZoom:hover {
  background: rgba(255,255,255,1);
}

#Routing {
  position: relative;
}

#Routing .options {
  display: none;
  position: absolute;
  right: 241px;
  background: white;
  width: 200px;
  top: -1px;
  bottom: -1px;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: 0;
}

#Routing .options .title {
  display: flex;
  justify-content: space-between;
}

#Routing .options .title .close {
  cursor: pointer;
}

#Routing .options:hover {
  box-shadow: -2px 2px 8px #bbb;
}

#Routing .options h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

#Routing .options .container {
  position: relative;
  height: 100%;
}

#Routing .options .list {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  top: 13%;
  bottom: 0;
  height: 84%;
  overflow-y: scroll;
}

#Routing .options .list p {
  padding: 2px;
  cursor: pointer;
  font-size: 11px;
}

#Routing .options .list p+p {
  border-top: 1px solid #ccc;
}

#Routing .options .list p:hover {
  background: #eee;
}